<header>
  <nav class="nav-wrapper grey lighten-2">
    <div class="container">
      <div class="center brand-logo light-blue-text text-darken-4"
        >LivinAccount</div>
      <a
        href=""
        class="sidenav-trigger light-blue-text text-darken-4"
        data-target="mobile-menu"
      >
        <i class="material-icons">settings</i>
      </a>
      <a href="#" data-target="sidenav-1" class="left sidenav-trigger hide-on-medium-and-up light-blue-text text-darken-4"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a
            href="/"
            class="tooltipped light-blue-text text-darken-4 btn grey lighten-2 z-depth-3"
            data-tooltip="Log-Out"
            ><span class="material-icons"> logout </span></a>
        </li>
        <li class="light-blue-text text-darken-4"><a class="light-blue darken-4 btn modal-trigger" href="#modal2">USER GUIDE</a>
          <div id="modal2" class="modal">
            <div class="modal-content">
              <h4>User Guide for Beginners</h4>
              <p style="line-height: 20px;">Attention to Users. Please enter your Suppliers and Customers before you enter your Expenses and Revenues. Otherwise you will not be able to enter your expenses and revenues.</p>
            </div>
            <div class="modal-footer">
              <a href="/main" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
          </div>
        </li>
        <li class="light-blue-text text-darken-4"><%= user.name %></li>
      </ul>
      <ul class="sidenav grey lighten-2" id="mobile-menu">
        <li>
          <a href="/" class="light-blue-text text-darken-4">Log-out</a>
        </li>
      </ul>
    </div>
  </nav>