<ul id="sidenav-1" class="sidenav sidenav-fixed grey lighten-2 z-depth-4">
	<div class="top">
  <br><li><a  class="light-blue-text text-darken-4" href="/main"><span class="material-icons light-blue-text text-darken-4">
    grid_view</span> Dashboard</a></li><br>
	<li><a  class="light-blue-text text-darken-4" href="/expense"><span class="material-icons light-blue-text text-darken-4">
    receipt
    </span> Expenses</a></li><br>
    <li><a class="light-blue-text text-darken-4" href="/supplier"><span class="material-icons light-blue-text text-darken-4">
      scale
      </span> Supplier</a></li><br>
	<li><a  class="light-blue-text text-darken-4" href="/revenue"><span class="material-icons light-blue-text text-darken-4">
    point_of_sale
    </span> Revenues</a></li><br>
  <li><a class="light-blue-text text-darken-4" href="/customer"><span class="material-icons light-blue-text text-darken-4">
    surfing
    </span> Customer</a></li>
  </div>
</ul>