<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
     <!-- NAV BAR	 -->
<%- include('./partials/nav.ejs') %>
      

<!-- LEFT SIDEBAR	 -->
<%- include('./partials/sidenav.ejs') %>



<%- include('./partials/chart.ejs') %>

  </body>
</html>